.phaseDisp {
  font-weight: bolder;
}

.fa-user-times {
  color: rgb(248, 73, 29);
}

.fa-user-check {
  color: rgb(64, 240, 20);
}

.controlPanel {
  display: flex;
  justify-content: center;
  align-items: center;
}
