body {
  font-family: "JetBrains Mono", monospace;
  background-color: rgb(71, 133, 226);
}

.card {
  opacity: 0.825;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.jumbotron {
  background-color: rgb(51, 50, 50);
  color: white;
  opacity: 0.85;
}
